/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    overflow-x: hidden;
    background-color: #cff8e9;
}
/* Globle */
/* NavBar */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 80px;
    background:#0b4f33;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    z-index: 2;
}
.nav-links{
    float: right;
    margin-right: 20px;
    color: whitesmoke;
    padding-top: 5px;
    margin-top: -20px;
    margin-bottom: 30px;
    top:80px;
    transition: all .5s;
}
.nav-links li {
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}
.nav-links li a{
    display:block;
    color: whitesmoke;
    transition: 0.3s;
}
.name{
    font-family: 'Bonheur Royale', cursive;
    font-size: 60px;
    text-align: center;
    color: whitesmoke;
    display: block;
    align-items: center;
    justify-content: center;
}
/* globle logo */
.logo{
    display: flex;
    text-align: center;
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: -10px;
    justify-content: left;
}
/* green contact button */
.ctb{
    display: inline;
    border: none;
    background: #218961;
    height: 30px;
    width: 80px;
    font-size: small;
    text-decoration-color: whitesmoke;
    color: whitesmoke;
    background-position: center;
    border-radius: 30px;
    margin-top: -5px;
    transition: background-color 0.3s;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.mctn{
    color: whitesmoke;
    font-size: small;
    padding: 8px 15px;
    background-color:#0b4f33;
    border-radius: 30px;
    border: none;
    margin-top: -5px;
    transition: background-color 0.3s;
}
.mctn:hover{
    background-color:#218961;
    text-decoration:solid;
    color:#0a3329;
}
/* respensive mode button editing */
/* Hamburger icon  */
a.active,a:hover{
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.checkbtn {
    display: none;
    cursor: pointer;
    position: relative;
}
.burger-icon {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 80px;
}
.bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}
#check:checked + .checkbtn .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
#check:checked + .checkbtn .bar:nth-child(2) {
    opacity: 0;
}
#check:checked + .checkbtn .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
.line {           /*Green line */
    width: 150px;
    height: 4px;
    background:#218961;
    margin: 10px auto;
    border-radius: 5px;
}
/* event 1 page header */
.header-event-1{
    width: 100vw;
    height: 30vh;
    background-image: url(../images/Business-cover.jpeg);
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-event-1-content{
    margin-bottom: 5px;
    color: whitesmoke;
    text-align: center;
}
.header-event-1-content h1{
    font-family: georgia;
    font-size: 3vmin;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* event navi */
.ctn-2{
    padding: 8px 15px;
    background: #218961;
    border-radius: 30px;
    color: whitesmoke;
    margin: 40px;
}
.ctn-2:hover{
    color: #0a3329;
    background-color: #79c4a8;
}
/* event navigation */
.event-navi{
    text-align: center;
    background-color:#0b4f33;
    padding: 30px;
}
/* event content */
/*img edits*/
.event-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #b3f9df;
    margin: 30px;
}
.event-image:hover{
    background-color:#bdffe6;
    margin: 30px;
}
.event-img{
    transition: transform .3s ease;
    width: 600px;
    height: auto;
    margin: 50px;
}
.event-img:hover{
    transform: scale(1.1);
}
.img-text h2{
    color:#0a3329;
    text-align: center;
    margin-top: 30px;
}
.event-content{
    background-color:#b3f9df;
    margin: 30px;
}
.event-content:hover{
    background-color:#bdffe6;
    margin: 30px;
}
.image-1,.image-2,.image-3,.image-4{
    background-color: #b3f9df;
}
.image-1:hover{
    background-color: #bdffe6;
}
.image-2:hover{
    background-color: #bdffe6;
}
.image-3:hover{
    background-color: #bdffe6;
}
.image-4:hover{
    background-color: #bdffe6;
}
.event-content h1{
    text-align: center;
    margin-bottom: 5px;
}
.event-content p{
    text-align: justify;
    font-size: large;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}
/* Globle */
/* Footer styles */
.footerinfo{
    display: flex;
    justify-content: space-between;
    background-color: #0b4f33 ;
    color: aliceblue;
    width: auto;
    height: 120px;
}
.flogo{
    position: relative;
    width: 200px;
    padding: 0px;
    margin: 10px;
}
.fname{
    position: relative;
    text-align: center;
    color: whitesmoke;
    margin: 30px;
}
.term-condition{
    text-align: left;
    align-content: center;
    margin: 30px;
}
.info{
    position: relative;
    text-align: left;
    margin: 30px;
}
.footerc{
    text-align: center;
    padding: 1rem;
    background-color: #0a3329;
    color: white;
}
/* Mobile device */
@media only screen and (max-width:850px){
    /* Globle */
    .checkbtn{
        display:block;
        height: 8vh;
        width: auto;
        padding-left: 38vw;
    }
    a:hover{
        background: none;
        color: #218961;
    }
    
    a.active{
        background: none;
        color: #218961;
    }
    #check:checked ~ ul{
        left: 0%;
    }
    /* logo */
    .logo{
        position:absolute;
        left: auto;
        margin-top: -18px;
        margin-left: -10px;
        z-index: 1;
    }
    .name{
        font-family: 'Bonheur Royale', cursive;
        font-size: 45px;
        text-align: center;
        color: whitesmoke;
        align-items: center;
        justify-content: center;
    }
    /* navigation */
    .nav-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        justify-content: center;
        text-align: center;
        background: #0b4f33;
        top: 80px;
        left: -100%;
        transition: all 0.5s ;
        margin-top: -1px;
    }
    .nav-links li{
        display: block;
    }
    .nav-links li a{
        font-size: larger;
    }
    /*contents*/
    .header-event-1{
        height: 35vh;
        background-position: top;
    }
    .event-navi{
        display: flex;
        flex-direction: row;
        font-size: x-small;
        text-align: center;
        background-color:#0b4f33;
        height: 10px;
        margin: 0px;
    }
    .ctn-2{
        font-size: small;
        padding-bottom: 30px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .event-image{
        flex-direction: column;
        align-items: center;
    }
    .event-img{
        width: 225px;
        height: auto;
    }
    .event-content p{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* globle */
    /*footer */
    .footerinfo{
        width: auto;
        height: auto;
    }
    .footer{
        display: grid;
        grid-template-columns:min-content;
        grid-row:auto;
        padding: 10px;
    }
    .flogo{
        width: 100px;
        height: auto;
        margin-left: -5px;
        margin-right: -10px;
    }
    .fname{
        font-size:small;
        margin: 4px;
    }
    .term-condition{
        font-size:x-small;
        margin: 4px;
    }
    .info{
        font-size:x-small;
        margin: 4px;
    }
    .footerc{
        font-size: x-small;
    }
}
